# ignore following dependencies which can be installed or generated using NPM package manager
node_modules/
public
.tmp/
.sass-cache/
app/bower_components
heroku
dist/

# prevent following senseless files and folders from committing
bin/
include/
lib/dtrace/
lib/node_modules/
lib/python2.7/
lib64
share/
src/
.travis.yml

# prevent webstorm IDE files from commiting into the VCS repository
.idea/