<div class="spa-shell-foot navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <i class="fa fa-chevron-circle-up fa-lg navbar-toggle" data-toggle="collapse" data-target=".enable-mob"></i>
            <a class="navbar-text" href="http://www.github.com/rihbyne">
                <i class="fa fa-github fa-lg"></i> rihbyne
            </a>
        </div>
        <div class="navbar-form navbar-right">
            <button class="btn btn-sm btn-warning">
                <i class="fa fa-envelope fa-lg"></i> msglog
            </button>
        </div>
        <div class="spa-shell-foot-audioStream"></div>
        <div class="spa-shell-foot-msglog"></div>
    </div>
</div>
