@import '../spa.shell';

//initialize needed variables
$navbgdefault: #63727E;
$brandcolor: #fff;

.navbar-default {
    box-shadow: 0 1px 0 rgba(255,255,255,0.13);
   // background: rgba(13,28,41,0.1);
  background-color: #3D4E5D;
    font-family: 'Open Sans';
    font-weight: 500;
    border-color: $navbgdefault;
    .navbar-brand {
        color: $brandcolor;
        &:hover, &:focus {
            color: $brandcolor;
        }
    }
    .navbar-text {
        color: $textcolor;
    }
    .navbar-nav {
      li  {
          color: $textcolor;
          a {
            color: $textcolor;
            &:hover, &:focus {
                color: $textcolor; }}}
      .active .open {
         a,a:hover,a:focus {
          color: $textcolor;
          background-color: $textcolor; }}
     }
}
