@import '../panel';

.spa-shell-foot  {
    background-color: #3D4E5D;

        .spa-shell-foot-productInfo {
            a {
                text-decoration: $a-tag-decorate;
            }
    }

    .navbar-header {
      i {
        color: $textcolor;
        cursor: pointer;
        &:hover {
          background-color: #273741;
        }
      }
    }
  }

